<main>
  <!-- works
  <builderall-appshell
    token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJVVUlEIjoiYTEwZjY4NjItNmZkMy00YjJlLTkzM2EtMjhiMGUyM2ZlOGU0IiwiaXNfYWRtaW5fc2Vzc2lvbiI6ZmFsc2UsImlzX3RlYW1fYWNjZXNzX3Nlc3Npb24iOmZhbHNlLCJleHAiOjE3MjM0ODU3ODF9.XN68CozLSf3AUhX1yQjR8QdQdqlEwk96ijmrCEmHNAc"
    tool="elearning">
  </builderall-appshell>

  <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
  -->

  <!-- works without toolbar
  <builderall-appshell
    token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJVVUlEIjoiYTEwZjY4NjItNmZkMy00YjJlLTkzM2EtMjhiMGUyM2ZlOGU0IiwiaXNfYWRtaW5fc2Vzc2lvbiI6ZmFsc2UsImlzX3RlYW1fYWNjZXNzX3Nlc3Npb24iOmZhbHNlLCJleHAiOjE3MjM0ODU3ODF9.XN68CozLSf3AUhX1yQjR8QdQdqlEwk96ijmrCEmHNAc"
    tool="elearning">
    <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
  </builderall-appshell>
   -->

  <!-- does not work (infinite loading)-->
  <builderall-appshell
    token="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJVVUlEIjoiYTEwZjY4NjItNmZkMy00YjJlLTkzM2EtMjhiMGUyM2ZlOGU0IiwiaXNfYWRtaW5fc2Vzc2lvbiI6ZmFsc2UsImlzX3RlYW1fYWNjZXNzX3Nlc3Npb24iOmZhbHNlLCJleHAiOjE3MjM0ODU3ODF9.XN68CozLSf3AUhX1yQjR8QdQdqlEwk96ijmrCEmHNAc"
    tool="elearning">
    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="htmlContent"></angular-editor>
  </builderall-appshell>


</main>
